.header-section {
    position: relative;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 0px 20%;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.1)
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.style-mode {
    display: none;
}

.l-mode {
    position: relative;
    display: flex;
    width: 80px;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}

.l-mode > .style-mode + .d-mode::after {
    content: "🔆";
    position: absolute;
}

label.l-mode > .style-mode:checked + .d-mode::after {
    content: "🌙";
    position: absolute;
}